@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

input:focus, textarea:focus,select:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
.hoveres{
    @apply hidden
}
.hoveres:hover .hoveres{
    @apply flex-colo
} 
.flex-colo{
    @apply flex flex-col justify-center items-center;
}
.flex-rows{
    @apply flex flex-row justify-center items-center;
}
.flex-btn{
    @apply flex justify-center items-center;
}
.transition{
    @apply transition-all duration-300 ease-in-out;
}

.zIndex{
    @apply z-50;
}
